.lead__content {
    background: url(../../../images/lead__Dell.png) no-repeat top 97px left;
    display: flex;
    flex-direction: row;
    padding-top: 74px;
    padding-bottom: 54px;
    max-width: 1151px;
}

@media all and (max-width:1919px) {
    
}

/* Медиа-запрос для ширины 1024px*/
@media all and (max-width:1439px) {
    
}

/* Медиа-запрос для ширины 768px*/
@media all and (max-width:1023px) {
    
}

/* Медиа-запрос для ширины 320px*/
@media all and (max-width:767px) {
    .lead__content {
        background-size: 293px 77px;
        background-position: top 18px left 16px;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0px;
        /* width: calc(100% + 15px); */
    }
}