.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 123px;
    position: relative;
}

/* Медиа-запрос для ширины 320px*/
@media screen and (max-width:767px) {
    .navbar{
        min-height: 90px;
    }
}