.footer__contacts {
    padding-top: 40px;
    border-top: 1px solid #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

.footer__contact-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 133.69%;
    color: #838383;
    margin: 0;
}

.footer__contact-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    padding-top: 11px;
}

.footer__contact_social {
    display: flex;
    flex-direction: row;
    gap: 18px;
}



@media all and (max-width:767px) {
    .footer__contacts {
        padding-top: 31px;
        flex-direction: column;
        gap: 20px;
    }
    .footer__contact-heading {
        font-size: 15px;
    }
    .footer__contact-text {
        font-size: 15px;
        padding-top: 0;
    }
    .footer__contact_social {
        gap: 29px;
        margin-top: 10px;
    }
}