@media all and (max-width:1023px) {
    .footer__column-links_catalog {
        flex-flow: column wrap;
        max-height: 100px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .footer__column-links_catalog li {
        max-width: 123px;
        align-content: flex-start;
    }
    .footer__column-links_catalog li:nth-child(2) {
        order: -2;
    }
    .footer__column-links_catalog li:nth-child(5) {
        order: -1;
    }
}